/*-------------- color: #ff0000 red-----------*/



* {

    margin: 0;
  
    padding: 0;
  
    box-sizing: border-box;
  
    }
  
    html {
  
    background-color: #fff;
  
    color: #333;
  
    font-family: "Lato", Arial, sans-serif;
  
    font-weight: 300px;
  
    font-size: 20px;
  
    text-rendering: optimizeLegibility;
  
    }
  
    .row {
  
    max-width: 1140px;
  
    margin: 0 auto; /*top-bottom, right-left*/
  
    /*
  
     margin-top: 0;
  
     margin-bottom: 0;
  
     margin-left: auto;
  
     margin-right: auto; ==> margin:0;
  
     */
  
    }
  
   /********************************************************** Nav Bar ************************************************ */
  
   .main-nav {
  
    float: right;
  
    list-style: none;
  
    margin-top: 40px;
  
   }
  
   .main-nav li{
  
    display: inline-block;
  
    margin-left: 30px;
  
    text-decoration: none;
  
   }
  
   .main-nav li a{
  
    color: red;
    padding: 8px, 0;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 90%; /* 20 * 0.9 = 18.0*/
    transition: border-bottom 2s;
   }
   .main-nav li a:hover {
    border-bottom: white solid 1px; /* transparent */
  }
  
   .logo{
  
    width: 100px;
  
    height: auto;

    float: left;
  
    border-radius: 50%;
  
    margin-top: 20px;
  
   }
  
   header{
  
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)),url(img/hero.jpg);
  
    background-size: cover;
  
    background-position: center;
  
    height: 100vh;
  
    background-attachment: fixed;
  
   }
  
   .hero-text-box{
  
    position: absolute;
  
    width: 1140px;
  
    top: 50%;
  
    left: 50%;
  
    transform: translate(-50%, -50%);
  
   }
  
    h1{
  
     color: #fff;
  
     font-size:240%;
  
     letter-spacing: 4px;
  
     word-spacing: 1px;
  
     font-weight: 300;
  
     text-transform: uppercase;
     
  
    }
  
    /***************************************************beautifying button***************************************/
  
   .btn{
  
    display: inline-block;
  
    font-weight: 300;
  
    text-decoration:none ;
  
    padding: 10px 30px;
  
    border-radius: 200px;
  
    }
  
    .btn-full{
  
     color: #fff;
  
     border: 1px solid red;
     background-color: red;
  
     margin-right: 20px;
  
    }
  
    .btn-ghost{
  
     color: red;
  
     border: red solid 1px;
  
    }
  
    .btn-ghost:hover{
  
     background-color: red;
  
     color: #fff;
  
    }
  
    .btn-full:hover{
  
     background-color: #cf0b0b;
  
    }
  
    /******section*************************************************/
  
    section{
  
     padding: 85px 0; /* top-bottom, right-left */
  
    }
  
    h2{
  
      font-size: 185%;
  
      font-weight: 300;
  
      text-transform: uppercase;
  
      letter-spacing: 1px;
  
      margin-bottom: 20px;
  
      text-align: center;
  
    }
  
    h2::after{
  
    display: block;
  
    content: "";
  
    width: 100px;
  
    height: 2px;
  
    background-color: red;
  
    margin: 0 auto;
  
    margin-top: 20px;
  
    }
  
    .get-text{
  
     line-height: 145%; /* when u give value in % meaning it is relative */
  
     width: 70%;
  
     margin: 0 15%;
  
     font-weight: 300;
  
     margin-bottom: 30px; /* when u give value in px meaning it is absolute */
  
    }
  
    h3{
  
     font-weight: 300;
  
     font-size: 110%;
  
     text-transform: uppercase;
  
     margin-bottom: 11px;
  
    }
  
    .all p{
  
     font-size: 90%;
  
     line-height: 145%;
  
     text-align: justify;
  
     font-weight: 300;
  
    }
  
    /* https://icoic.io/ionicons */
  
   ion-icon{
  
    color: red;
  
    font-size: 350%;
  
    margin: 10px 0;
  
   }
  
    /******************** section meals**********/
  
    .food-img{
  
     width: 100%;
  
     list-style: none;
  
    }
  
    .food-img li{
  
     width: 25%;
  
    float: left;
  
    }
  
    .menu{
  
     overflow: hidden;
  
     margin:0;
  
     background-color: black;
  
    }
  
    .menu img{
  
     width: 100%;
  
     transform: scale(1.15);
  
     opacity: 0.7;
  
     transition: transform 0.5s, opacity 0.5s;
  
    }
  
    .section-food{
  
     padding: 0;
  
    }
  
    .menu img:hover{
  
     transform: scale(1.05);
  
     opacity: 1;
  
    }
  
    /*****section-steps*******/
  
    .section-steps{
  
     background-color: rgb(245, 234, 238);
  
    }
  
    .step-box:first-child{
  
     text-align: right;
  
     padding-right: 4%;
  
    }
  
    .app-screen{
  
     width: 40%;
  
    }
  
    .works-step{
  
     margin-bottom: 50px;
  
    }
  
    .works-step div{
  
     float: left;
  
     padding:10px;
  
     border-radius: 50%;
  
     color: red;
  
     border: red 2px solid;
  
     width: 50px;
  
     height: 50px;
  
     vertical-align: middle;
  
     text-align: center;
  
     margin-right: 25px;
  
    }
  
    .works-step p{
  
     letter-spacing: 1px;
  
     font-weight: 300;
  
     line-height: 145%;
  
    }
  
   .step-box:last-child{
  
     padding-left: 4%;
  
     margin-top:70px;
  
    }
  
    works-step:first-child{
  
     margin-top: 70px;
  
    }
  
   .app-btn1 img{
  
   width: 100px;
  
   height: 100px;
  
   }
  
   .vada::after{
  
    content: "";
  
    clear:both;
  
    display:table;
  
   }
  
   /******we are in folowing cities******/
  
   .city-feature ion-icon{
  
    color:red;
  
    font-size: 120;
  
    margin-right: 5px;
  
    vertical-align: middle;
  
    margin-top: 1px;
  
    }
  
    .box img{
  
     width: 100%;
  
     height: auto;
  
     margin-bottom: 15px;
  
    }
  
  .city-feature a:link,
  
  .city-feature a:visited{
  
   color: #1b9cfc;
  
   text-decoration: none;
  
   border-bottom: 1px solid;
  
   transition: border-bottom 0.2s, color 0.2s;
  
  }
  
  .city-feature:last-child ion-icon{
  
   color:#1b9cfc;
  
  }
  
  /********customer testimonials*********/
  
  cite{
  
   font-size: 90%;
  
   display: block;
  
   margin-top: 25px;
  
  }
  
  cite img{
  
   height: 45px;
  
   border-radius: 50%;
  
   margin-right: 10px;
  
   vertical-align: middle;
  
  }
  
  blockquote{
  
   padding: 2%;
  
   font-style: italic;
  
   margin-top: 40px;
  
   position: relative;
  
  }
  
  blockquote:before {
  
   content: "\201C";
  
   font-size: 500%;
  
   display: block;
  
   position: absolute;
  
   top: -5px;
  
   left: -5px;
  
  }
  
  .customer-testimonials{
  
   background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.8)),url(img/Hummus-Recipe.jpg);
  
   background-size: cover;
  
   color: #fff;
  
   background-attachment: fixed;
  
  }
  
  /********Section: meals plan*********/
  
  .meals-plan{
  
   background-color: rgb(245, 234, 238) ;
  
  }
  
  .plan-box{
  
   background-color: #fff;
  
   border-radius: 5px;
  
   width: 90%;
  
   margin-left: 5%;
  
   box-shadow: 0,2px 2px rgb(245, 234, 238);
  
  }
  
  .plan-box div{
  
   padding: 15px;
  
   border-bottom: 1px solid rgb(245, 234, 238);
  
   margin-bottom: 10px;
  
  }
  
  .subs-price{
  
   font-size: 280%;
  
   margin-bottom: 10px;
  
   color: #0984e3;
  
   font-weight: 300;
  
  }
  
  .subs-price span{
  
   font-size: 30%;
  
   font-weight: 300;
  
  }
  
  .subs-price-meal{
  
   font-size: 80%;
  
  }
  
  .plan-box ul{
  
   list-style: none;
  
  }
  
  .plan-box ul li{
  
   padding: 5px 0;
  
   font-weight: 300;
  
  }
  
  .plan-box ul li ion-icon{
  
   font-size: small;
  
   margin-right: 10px;
  
   color:#0984e3 ;
  
  }
  
  .plan-box div:first-child{
  
   background-color:rgb(245, 234, 238) ;
  
   border-bottom-left-radius: 5px;
  
   border-bottom-right-radius: 5px;
  
  }
  
  .plan-box div:last-child{
  
   text-align: center;
  
   border: 0;
  
  }
  
  /**************Form*****************/
  
  .contact-form{
  
   width: 54%;
  
   margin: 0 auto;
  
  }
  
  input[type="text"],
  
  input[type="email"],
  
  select,
  
  textarea{
  
   width: 100%;
  
   padding: 7px;
  
   border-radius: 3px;
  
   border: 1px solid #ccc ;
  
  }
  
  textarea{
  
   height: 100px;
  
  }
  
  input[type="checkbox"]{
  
   margin: 10px 5px 10px 0;
  
  }
  
  *:focus{
  
   outline: none;
  
  }
  
  /**************Form*****************/
  
  ion-icon{
  
   color: #555;
  
   font-size: 190%;
  
  }
  
  ion-icon:hover{
  
   color: #0984e3;
  
   transition: color 0.2s;
  
  }
  
  footer{
  
   background-color: #1e272e;
  
   padding: 50px;
  
  }
  
  .footer-nav{
  
   margin-bottom: 30px;
  
   list-style: none;
  
   float: left;
  
  }
  
  .social-links{
  
   list-style: none;
  
   float: right;
  
  }
  
  .footer-nav li,
  
  .social-links li{
  
   display: inline-block;
  
   margin-right: 20px;
  
  }
  
  .footer-nav li a:link,
  
  .footer-nav li a:visited,
  
  .social-links li a:link,
  
  .social-links li a:visited{
  
   text-decoration: none;
  
   border: none;
  
   color: #555;
  
  }
  
  .footer-nav li a:hover,
  
  .footer-nav li a:active{
  
   color: #0984e3;
  
   transition: color 0.2s;
  
  }
  
  .social-links li a:hover,
  
  .social-links li a:active{
  
   color: rgb(192,26,26);
  
  }
  
  .footer-nav li:last-child,
  
  .social-links li:last-child{
  
   margin-right: 0;
  
  }
  
  footer p{
  
   color: #888;
  
   text-align: center;
  
   font-size: 80%;
  
  }
  
    
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  